:root {
	--black: #333;
	--green: rgb(42, 208, 27);
	--border-radius-md: 25px;
	--border-radius-sm: 15px;
}

* {
	box-sizing: border-box;
	font-family: monospace;
	font-size: 50px;
	color: white;
}

h1 {
	font-size: 100px;
	margin: 0;
	color: orange;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	padding: 50px 25px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid orange;
	max-width: 1200px;
	width: 100%;
	border-radius: var(--border-radius-sm);
	background-color: rgb(83, 83, 140);
}

.btn {
	background-color: orange;
	color: white;
	border-radius: var(--border-radius-md);
	padding: 10px 25px;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}

.btn:hover {
	box-shadow: 0 0 10px 0 #333;
}

.area {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: end;
}

dialog {
	bottom: 0;
	right: 0;
	padding: 25px;
	margin-left: auto;
	margin-right: 0;
	border: 2px solid var(--green);
}
.dialog p {
	color: var(--green);
	margin: 0 0 10px 0;
}
.dialog button {
	color: var(--green);
	background-color: transparent;
	border: 1px solid var(--green);
}
