
.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.input_name_cont .btn {
    border-radius: 0;
    min-width: auto;
}
.input_name_cont .btn:hover {
    transform: none;
    box-shadow: none;
}
.input_name_cont {
    display: flex;
}
input {
    color: var(--primary) !important;
    padding: 10px 0 !important;
    border-width: 1.5px !important;
    border-style: solid !important;
    border-color: gray;
    border-radius: 3px 0 0 3px !important;
    padding-left: 10px !important;
}
input:focus,
input:focus-visible,
input:focus-within {
    outline: none;
    border-color: var(--primary);
}

h2 {
    margin: 20px 0;
}

.tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.finished .title {
    position: relative;
}

.finished .title::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
}
.finished .container {
    background-color: #3c3c67;
}

.add_container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.add_container * {
    min-width: 0px;
}
.add_container .btn {
    width: 200px;
    border-radius: 3px;
}
