@import "tailwindcss";
@import "flowbite/src/themes/default";

body:has(.loader_backdrop) {
    overflow-y: hidden;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
:root {
    --primary: #3c50e0;
    --border-gray: #e4e7ec;
    --gray: #667085;
    --card-width: 250px;
}

.task *,
.listHeading * {
    pointer-events: none;
}
.task,
.listHeading,
.completeCheckbox,
.addTask,
.menuIcon,
.inputBox,
.listMenu,
.listMenu *,
h3 {
    pointer-events: auto !important;
}
.animate-appear {
    animation: appear 0.2s ease-in-out 1;
}
.main {
    overflow: hidden;
    max-height: 100vh;
}
main {
    padding: 0;
}

.scrollbar-none {
    scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
    width: 8px;
}

.inline-icon svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
}

input:not(input[type="checkbox"]),
textarea,
.input_style {
    @apply min-w-0 w-full px-3 border-[var(--border-gray)] py-1 rounded border-1 focus:ring-0 focus:border-[var(--primary)];
}
.border-gray {
    @apply border-[var(--border-gray)] py-1 rounded border-1;
}
