@import "tailwindcss";
@import "flowbite/src/themes/default";

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

body:has(.loader_backdrop) {
    overflow-y: hidden;
}

.loader_backdrop {
    animation: appear 0.2s ease-in-out 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
:root {
    --primary: #3c50e0;
    --border-gray: #e4e7ec;
    --gray: #667085;
    --card-width: 300px;
}

.task *,
.listHeading * {
    pointer-events: none;
}
.task,
.listHeading,
.completeCheckbox,
.addTask,
.menuIcon,
.inputBox,
.listMenu,
.listMenu *,
h3 {
    pointer-events: auto !important;
}
.animate-appear {
    animation: appear 0.2s ease-in-out 1;
}
.main {
    overflow: hidden;
    max-height: 100vh;
}
main {
    padding: 0;
}

.scrollbar-none {
    scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
    width: 8px;
}
