.log-container {
	max-width: 1200px;
	width: 100%;
}

.log-container p span {
	color: black;
}

#log {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.element {
	display: inline-block;
	margin: 5px;
}

.date-element {
	font-size: 20px;
	display: flex;
	align-items: center;
	gap: 5px;
	color: black;
}

.log_data {
	border-radius: 12px;
	border: 1px solid black;
	padding: 10px;
	background-color: #d9d9ff;
	color: black;
	display: flex;
	align-items: center;
	flex-direction: column;
}
