/* Outfit Thin */
@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit/Outfit-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

/* Outfit ExtraLight */
@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit/Outfit-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

/* Outfit Light */
@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit/Outfit-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

/* Outfit Regular */
@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit/Outfit-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

/* Outfit Medium */
@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit/Outfit-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

/* Outfit SemiBold */
@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit/Outfit-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

/* Outfit Bold */
@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit/Outfit-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/* Outfit ExtraBold */
@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit/Outfit-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

/* Outfit Black */
@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit/Outfit-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

/* Nunito ExtraLight */
@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}

/* Nunito Light */
@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

/* Nunito Regular */
@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

/* Nunito Medium */
@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

/* Nunito SemiBold */
@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

/* Nunito Bold */
@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

/* Nunito ExtraBold */
@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

/* Nunito Black */
@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito/Nunito-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}
