@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
	--color-primary-dark: #1c2434;
}

:root {
	--primary: rgb(78, 130, 208);
	--black: #333;
	--green: rgb(42, 208, 27);
	--border-radius-md: 25px;
	--border-radius-sm: 15px;
	--container-bg-color: rgb(83, 83, 140);
}
* {
	box-sizing: border-box;
	font-family: monospace;
	font-size: 30px;
	color: white;
}

h2 {
	font-size: 50px;
	margin: 0;
	color: var(--primary);
}

app-shell {
	display: flex;
	/* grid-template-areas:
		"sidebar header header"
		"sidebar main main";
	grid-template-columns: 2fr 6fr 1fr; */
}

app-sidebar {
	grid-area: sidebar;
	width: 280px;
}

.main {
	grid-area: main;
}

app-header {
	grid-area: header;
}
